!!!
html
	head
		title Amrit Bera - Drupal & Node.js developer based in India
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")
		link(rel="stylesheet", href="/responsive.css")
		link(rel="stylesheet", href="/main.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		!= partial("_shared/nav")
			div#content(class= (current.path[0] == 'journal' && current.path[1] !== 'index' ? current.path[0] : ''))
				div.wrapper
					!= yield

				if current.path[0] == "journal" && current.path[1] !== "index"
					div.disqus-comments
						include _shared/disqus.html

		include _shared/google_analytics.html