!!!
html
	head
		title= (current.path[0] === 'journal' && current.path[1] !== 'index' ? public.journal.data[current.path[1]]['title'] + ' - Amrit Bera' : 'Amrit Bera - Drupal & Node.js developer based in India (Bangalore, Pune, Mumbai & Kolkata - yeah I travel a lot!)')

		if current.path[0] == 'journal' && current.path[1] !== 'index'
			link(rel="stylesheet", href="http://yandex.st/highlightjs/7.3/styles/googlecode.min.css")

		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")
		link(rel="stylesheet", href="/responsive.css")
		link(rel="stylesheet", href="/main.css")

		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		!= partial("_shared/nav")
			div#content(class= (current.path[0] == 'journal' && current.path[1] !== 'index' ? current.path[0] : ''))
				div.wrapper
					if current.path[0] === 'journal' && current.path[1] !== 'index'
						h1= public.journal.data[current.path[1]]['title']
						div.date= public.journal.data[current.path[1]]['date']
					!= yield

				if current.path[0] == "journal" && current.path[1] !== "index"
					div.disqus-comments
						include _shared/disqus.html

		include _shared/google_analytics.html

		if current.path[0] == 'journal' && current.path[1] !== 'index'
			script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
			script.
				hljs.initHighlightingOnLoad();