div.section.group.front
	div.col.span_1_of_3
		div.wrapper.hola-image
			img(src="/images/amrit-bera.png")
	div.col.span_2_of_3
		div.wrapper.hola
			h4 Hola! My name is
			div.logo-wrapper
				img(src="/images/amritbera_logo.png")
				//- h4 I eat, sleep & code.

div.section.group.front-copy
	div.col.span_1_of_3
	div.col.span_2_of_3
		div.wrapper
			p.
				I am a developer.
			p.
				Currently I am in <a href="http://en.wikipedia.org/wiki/Kolkata">Kolkata, WB</a>, where I eat, sleep & code. 
				I built <a href="http://transcode.io">transcode.io</a> and <a href="http://malpua.com">Malpua</a>.
			//- Currently I am working for <a href="http://activearkjwt.com">Activear JWT</a>.
			p.
				I mostly work with <a href="http://drupal.org">drupal</a> and <a href="http://nodejs.org">node.js</a>.
				In leisure time I love experimenting with <a href="http://sinatrarb.com">sinatra</a>, <a href="http://jekyllrb.com">jekyll</a>, <a href="http://harpjs.com">harp</a>, <a href="http://playframework.com">play</a>, 
				<a href="http://lesscss.org">less</a>, <a href="https://lucene.apache.org/solr/">solr</a> and <a href="http://emberjs.com">ember</a>. I am very particular about performance and pixel perfect UIs.

			p.
				I love gadgets, bikes and photography.