body{
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	max-width: 960px;
	padding: 0 27px;
	font-size: 18px;
	font-weight: 300;
}

img{
	max-width: 100%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #FFD000;
}

p, h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1{
	font-size: 65px;
	line-height: 1.2em;
	border-bottom: #CCC solid 1px;
	padding: 20px 0;
}

h2 {
	font-size: 30px;
}

h3{
	
}

h4 {
	font-size: 24px;
}

::selection {
	background-color: #FFD000;
	color: #000;
}

/*--------------------------- NAV ---------------------------*/
nav {
	margin: 20px 0 40px;
}

nav a {
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	border-bottom: 4px solid #fff;
}

nav a:hover, nav a.active {
	border-bottom: 4px solid #FFD000;
}

@media only screen and (max-width: 480px) {
	nav {
		text-align: center;
	}
}

/*------------------------- FRONT PAGE -----------------------*/
.front{
	h4 {
		margin: 4px;
		font-size: 22px;
	}

	div.wrapper.hola {
		margin-top: 15%;
	}

	div.wrapper.hola-image {
		padding: 20px 40px 20px 0;
	}

	div.logo-wrapper {
		width: 80%;
	}
} 

.front-copy {
	.wrapper {
		margin-right: 18%;
	}

	p {
		font-size: 20px;
		line-height: 150%;
	}
}

@media only screen and (max-width: 480px) {
	.front-copy .wrapper {
		margin-top: 50px;
		margin-right: 0;
	}

	.front{
		div.wrapper.hola-image {
			padding: 20px;
		}

		div.logo-wrapper {
			width: 100%;
		}
	}
}

/*------------------------- CONTENT --------------------------*/
.content{

	p, h2, h4 {
		margin: 0 auto;
	}

	p {
		font-size: 22px;
		width: 60%;
		margin-bottom: 27px;
	}

	h2 {
		font-weight: 700;
		width: 80%;
	}

	h4 {
		font-weight: 600;
		width: 80%;
	}
}

@media only screen and (max-width: 480px) {
	.content p{
		width: 100%;
	}
}