{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="wrapper">
        <div class="section group front">
            <div class="col span_1_of_3">
                <div class="wrapper hola-image">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/amrit-bera.png">
                </div>
            </div>
            <div class="col span_2_of_3">
                <div class="wrapper hola">
                    <h4>Hola! My name is</h4>
                    <div class="logo-wrapper">
                        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/amritbera_logo.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="section group front-copy">
            <div class="col span_1_of_3">

            </div>
            <div class="col span_2_of_3">
                <div class="wrapper">
                    <p>I am an engineer.</p>
                    <p>Currently I am living in Berlin, Germany, where I code, eat, code, sleep and of course code some
                        more!</p>
                    <p>I built <a href="http://transcode.io">transcode.io</a>.</p>
                    <p>
                        It's been 10 classic years that I have been working with web technologies. I have built webapps
                        for several people and multinational brands.
                        I am very particular about performance, infrastructure and pixel perfect UIs.
                    </p>
                    <p>
                        These days I am mostly working with <a href="https://kubernetes.io/">kubernetes</a> and <a
                            href="https://golang.org/">Golang</a>.
                        When I have time to wander my thoughts I love experimenting with <a
                            href="https://www.ansible.com/">ansible</a>,
                        <a href="https://www.terraform.io/">terraform</a>, <a
                            href="https://www.djangoproject.com/">django</a>,
                        <a href="http://flask.pocoo.org/">flask</a>, <a href="https://aws.amazon.com/">AWS</a> and <a
                            href="https://cloud.google.com/">GCP</a>.
                    </p>
                    <p>I love gadgets that make my work easy, bikes and photography.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}