{% extends "base.html" %}
{% block content %}
<section id="content">

<div class="journal-list">
        <ul id="post-list">
                {% for article in articles %}
                    <li>
                        <h3><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.date|strftime('%d %b %Y') }} - {{ article.title }}</a></h3>
                    </li>
                {% endfor %}
                </ul><!-- /#posts-list -->
                
</div>

</section><!-- /#content -->
{% endblock content %}
