nav
	div.section.group
		div.col.span_1_of_3
		div.col.span_2_of_3
			a(href="/", class="#{ current.path[0] == 'index' ? 'active' : '' }") Home
			a(href="/journal", class="#{ current.path[0] == 'journal' ? 'active' : '' }") Journal
			a(href="/connect", class="#{ current.source == 'connect' ? 'active' : '' }") Connect