/* Using http://www.responsivegridsystem.com */

body {
  font-family:"Open Sans", sans-serif;
  margin:0 auto;
  max-width:960px;
  padding:0 27px;
  font-size:18px;
  font-weight:300;
}
img { max-width:100%; }
a {
  color:#000;
  text-decoration:none;
}
a:hover { border-bottom:1px solid #FFD000; }
p, h1, h2, h3, h4, h5, h6 { font-weight:300; }
h1 {
  font-size:50px;
  line-height:1.2em;
  padding:20px 0;
}
h2 { font-size:30px; }
h4 { font-size:24px; }
::selection {
  background-color:#FFD000;
  color:#000;
}
.disqus-comments {
  width:60%;
  margin:0 auto;
  margin-top:100px;
  margin-bottom:100px;
}
@media only screen and (max-width: 480px) {
  .disqus-comments {
    width:100%;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:50px;
  }
}
nav { margin:20px 0 40px; }
nav a {
  display:inline-block;
  margin-right:20px;
  text-decoration:none;
  color:black;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:600;
  border-bottom:4px solid #fff;
}
nav a:hover, nav a.active { border-bottom:4px solid #FFD000; }
@media only screen and (max-width: 480px) {
  nav { text-align:center; }
  nav a {
    font-size:13px;
    margin:0 5px;
  }
}
.nav-align-center {
  text-align:center;
  padding-top:9.5px;
}
.nav-align-center a { margin:0 10px; }
.front h4 {
  margin:4px;
  font-size:22px;
}
.front div.wrapper.hola { margin-top:15%; }
.front div.wrapper.hola-image { padding:20px 40px 20px 0; }
.front div.logo-wrapper { width:80%; }
.front-copy .wrapper {
  margin-right:18%;
  margin-bottom:150px;
}
.front-copy p {
  font-size:20px;
  line-height:150%;
}
@media only screen and (max-width: 480px) {
  .front-copy .wrapper {
    margin-top:50px;
    margin-right:0;
  }
  .front div.wrapper.hola-image { padding:20px; }
  .front div.logo-wrapper { width:100%; }
}
.journal p, .journal h1, .journal h2 { margin:0 auto; }
.journal p a, .journal h1 a, .journal h2 a { border-bottom:1px solid #FFD000; }
.journal div.date, div.copyright {
  text-align:center;
  font-size:16px;
  color:#C4C4C4;
}
div.copyright {
  padding-bottom: 20px;
}
.journal pre {
  width: 60%;
  margin: 10px auto;
  background-color: #f7f7f7;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: lighter;
  overflow-y: scroll;
}
.journal code { 
  font-size: 20px;
  background: #f3f3f3;
  padding: 1px 8px;
  border-radius: 4px;
  font-weight: 100;
}
.journal p, .journal ul {
  font-size:24px;
  width:60%;
  margin:30px auto;
}

.journal ul {
  padding-left: 50px;
}

.journal h1 {
  text-align:center;
  font-weight:800;
  padding:50px 0 20px;
}
.journal h2 {
  font-weight:800;
  text-align:center;
  width:80%;
  font-size:40px;
  line-height:46px;
  padding:40px 0;
}
@media only screen and (max-width: 480px) {
  .journal p, .journal h1, .journal h2, .journal ul { 
    width:100%; 
    font-size: 18px;
  }
  .journal code, .journal pre {
    font-size: 16px;
  }
  .journal pre {
    width: 92%;
  }
  .journal ul { 
    padding-left: 22px;
  }
  .journal h1 {
    font-size:45px;
    padding:20px 0 10px;
  }
  .journal h2 {
    width:100%;
    font-size:30px;
    line-height:36px;
    padding:20px 0;
  }
  h3 {
    font-size: 18px;
  }
}
.journal-list {
  width:60%;
  margin:0 auto;
}
@media only screen and (max-width: 480px) {
  .journal-list { width:100%; }
}